*{
    margin:0;
    padding:0;
}
.main{
    width:100%;
    height:100vh;
    background-color: rgb(102, 165, 165);
    position:relative;

}
.heading{
    display: flex;

}
.heading img{
    width:35px;

}
.box
{
    width:50%;
    height: 50%;
    position:absolute;
    background-color: aliceblue;
    /* text-align: center;
    justify-content: center; */
    margin-left:25%;
    margin-top:10%;
    padding:1%;
    /* padding: 50px; */
    /* overflow:scroll; */
    color: rgb(222, 162, 57);
}
.input
{
    padding: 0.5%;
    margin-top: 25px;
    display:flex;
    border-radius: 10px;
    /* padding-left: 50px; */
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(217, 229, 143);
}
input{
    flex:1;
    border:none;
    outline: none;
    padding: 1%;
         /* padding-left: 50px; */
    /* background-color:rgb(222, 162, 57) ;
    color: rgb(108, 212, 44); */
    background: transparent;
    font-weight: bolder;
    font-size: 15px;
}
button{
    border:none;
    outline:none;
    padding:1%;
    background-color: rgb(226, 170, 80);
    color:white;
    font-size:15px ;
    cursor:pointer;
    border-radius: 15%;
    width:80px;

}
ul{
    padding-top:1%;
    padding-left: 5%;
}
ul li{
    list-style: none;
    font-size:20px;
    padding:2%;
    
    user-select: none;
    user-select: none;
    cursor:pointer;
    font-weight: bolder;
    
}
ul li:before{
    /* content :''; */
    content :'';
    position:absolute;
    margin-left:-30px;
    height:25px;
    width:30px;
    /* background-color: rgb(212, 62, 62);
    border:black; */
    border-radius: 50%;
    /* background-color: aquamarine; */
    background-image: url("https://th.bing.com/th/id/OIP.kdFfsTkjG6xDRRDLQwfsmgAAAA?w=169&h=176&c=7&r=0&o=5&dpr=1.3&pid=1.7");
   background-size: cover;
   background-position: center;

}
ul li.listdata{
    color:rgb(102, 165, 165);
    text-decoration: line-through;

}
ul li.listdata::before{
    background-image: url("https://th.bing.com/th/id/OIP.bG4zEG8MxQNC9ubbT1dYIwHaHa?w=207&h=207&c=7&r=0&o=5&dpr=1.3&pid=1.7");
  
}
span{
   
    position: absolute;
    right:55px;
padding:5px;
    width: 25px;
    height:25px;
    border-radius: 50px;
    /* text-align: center; */
   /* margin-left:600px; */
  /* width:1px; */ 
font-size: 30px; 
text-align: center;
background-color:yellow;
 
}

